@media (prefers-color-scheme: dark) {
    :root {
        --bg: black;
        --fg: white;
        --card: #222222;
        --accent: #df2e44;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --bg: white;
        --fg: black;
        --card: silver;
        --accent: #df2e44;
    }
}

* {
    box-sizing: border-box;
}
html {
    font-size: large;
    min-height: 100%;
    padding: 0;
    margin: 0;
}
body {
    margin: 0px auto;
    padding: 0;
    background: var(--bg);
    color: var(--fg);
    min-height: 100%;
}
nav {
    background-color: var(--accent);
    color: var(--fg);
}
nav a {
    color: var(--fg);
    font-weight: bold;
    padding: 0.5em;
    text-decoration: none;
}
nav, footer {
    padding: 0.5em 1em;
}
