.card {
    background-color: var(--card);
    padding: 1em;
    margin: 1em;
    text-align: center;
    border-radius: 0.5em;
    border: 1px solid var(--card);
}
@media (max-device-width: 500px) {
    .card {
        width: 90%;
    }
}
@media (min-device-width: 500px) {
    .card {
        width: 500px;
    }
}

img {
    width: 95%;
}
main {
    margin: 0 1em;
}
.container {
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
}
label {
    padding: 0.5em;
    margin: 1em auto;
    display: block;
    width: 95%;
}
label.buy {
    background-color: darkorange;
    color: black;
}
label.bought {
    background-color: forestgreen;
    color: white;
    display: none;
}
input:checked ~ label.buy {
    display: none;
}
input:checked ~ label.bought {
    display: block;
}
input[type="checkbox"] {
    display: none;
}
button[type="submit"] {
    width: 100%;
    background-color: forestgreen;
    color: white;
    margin: 1em auto;
    border: none;
    padding: 1em;
}
#shipping {
    display: none;
}
*:has(:checked) ~ #shipping {
    display: block;
}
textarea, input:not([type=range]):not([type=submit]) {
	font: var(--sans);
	border-radius: 0.2em;
	border: 0.1em solid var(--fg);
	padding: 0.4em 0.8em;
	color: var(--fg);
	background-color: var(--bg);
}
fieldset select, input:not([type=checkbox]):not([type=radio]), textarea, button, meter, progress {
	display: block;
	width: 100%;
	margin: 0 0 1rem;
}
